/* CSS Document */
div,html,body,ul,li,h5,p,h6,marquee{
	padding:0;
	margin:0;
}
html,body{
	width: 1400px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #000000;
}
/* body{
	background: url(../images/topbg01.jpg)no-repeat;
} */
/*顶部导航*/
.top{
	width: 1400px;
	height:51px;
	margin-bottom: 1px;
	background-size: contain;
}
.top #home{
	border:1px solid #ca7708;
	border-bottom: 0;
    background:url(../images/menubg01.jpg);
}
.top #home a{
    height:40px;
	background-image:-webkit-linear-gradient(left,#ffffff,#ffffff,#ffffff);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
}
.top .top_1{
	width: 1153px;
	margin: 0 auto;
	padding-top:6px;
}
.top .top_cen{
	width: 257px;
	height:42px;
	float: left;
	margin:0 auto;
}
/* 房子展示部分样式 */
.home{
    width: 1153px;
    height:200px;
    margin:-5px auto;
}
/* 房子展示左边样式 */
.home .home_left{
    width:581px;
    height: 340px;
    display: inline-block;
}
.home .home_left .home_bot{
    width: 580px;
    height: 64px;
    background: #eceae7;
}
.home .home_left .home_bot p{
    padding-left:20px;
    padding-top:8px;
    margin-top:1px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
.home .home_left .home_bot p img{
    padding-left:5px;
}
.home .home_left .home_bot div{
    padding-left:20px;
    font-size: 13px;
    width: 100%;
    color:#545454;
    height: 17px;
    line-height: 13px;
    padding-bottom: 13px;
}
.home .home_left .home_bot div b{
    font-weight: normal;
    display:inline-block;
    width: 456px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right:6px;
    margin-top:10px;
}
.home .home_left .home_bot div a{
    display: inline-block;
    color: #c74b04;
}
.home .home_left .home_bot div a span{
    padding-right:5px;
    padding-left:5px;
}
/* 房子展示右边样式 */
.home .home_right{
    width: 572px;
    height: 340px;
    float: right;
}
.home .home_right .zhan{
    width: 285px;
    height:52px;
    position: relative;
    bottom:52px;
    left:0;
    right:0;
    background: rgba(0,0,0,0.5);
    z-index: 200;
}
.home .home_right .zhan .p1{
    color: #ffffff;
    padding-left:20px;
    font-weight: 600;
    font-size: 13px;
    padding-top:8px;
}
.home .home_right .zhan .p2{
    margin-top:6px;
    line-height: 13px;
}
.home .home_right .zhan .p2 i{  
    font-size: 13px;
    color:#fff;
    display: inline-block;
    padding-left:20px;
    width: 197px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home .home_right .zhan .p2 span{
    font-size: 13px;
    color:#fff;
}
.home .home_right .home_one{
    width: 285px;
    height: 170px;
    display: inline-block;
    margin-right:1px;
    margin-bottom: 1px;
}
.home .home_right .home_one img{
    width: 100%;
    height: 100%;
}
.home .home_right .home_two{
    width: 286px;
    height: 170px;
    float: right;
}
.home .home_right .home_two img{
    width: 100%;
    height: 100%;
}
/* 美联动态新闻部分样式 */
.news{
    width: 1153px;
    height:281px;
    margin:13px auto;
}
.news .news_right{
    width:300px;
    height:281px;
    float:right;
}
.paihang .news_left{
    width: 579px;
    height: 254px;
    display: inline-block;
}
.paihang .news_left .tab-menu ul{
    border-bottom: 0;
    border-top:1px solid #c7c7c7;
    height: 41px;
}
.paihang .news_left .tab-menu ul li{
    width:132px;
    height: 41px;
    float: left;
    border-bottom: 0;
    cursor: pointer;
    background: url(../images/home_21.jpg);
}
.paihang .news_left .tab-menu a{
    width: 293px;
    height: 41px;
    padding-right: 20px;
    line-height: 41px;
    margin-left: 266px;
    /* margin-top: -42px; */
    text-align: right;
    display: block;
    color: #431201;
    font-size: 15px;
    border-bottom: 1px solid #c7c7c7;
    background: url(../images/home_21.jpg);
}
.class2 ul{
    display: none;
}
.paihang .news_left .tab-menu ul li.active{
    border-bottom: 0;
    background: url(../images/home_19.jpg)no-repeat;
    background-size: 100% 100%;
}
.paihang .news_left .tab-menu ul li img{
    display: block;
    width: 87px;
    height: 23px;
    margin:8px auto;
    vertical-align: middle;
}
.tab-box ul{
    display: none;
}
.paihang  ul{
    width: 579px;
    border:1px solid #c7c7c7;
    border-top:0;
}
.paihang ul p{
    width: 579px;
    height: 42px;
}
.paihang ul p span img{
    width: 86px;
    height: 24px;
    margin-top:10px;
    margin-left:25px;
}
.paihang ul p .span1{
    width: 138px;
    height: 42px;
    cursor: pointer;
    display: inline-block;
    background: url(../images/home_19.jpg)no-repeat;
    background-size:100% 100%;
    border-bottom: 0;
}
.paihang ul p .span2{
    width: 138px;
    height: 42px;
    cursor: pointer;
    display: inline-block;
    border-left:1px solid #c7c7c7;
    border-right:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    background: url(../images/home_21.jpg);
}
.paihang ul p a{
    color: #431201;
    width: 142px;
    height: 42px;
    display: inline-block;
    position: relative;
    top: -7px;
    line-height: 42px;
    text-align: right;
    padding-right: 20px;
    border-bottom: 1px solid #c7c7c7;
    background: url(../images/home_21.jpg);
    background-size: 100% 100%;
    border-top: 1px solid #c7c7c7;
}
.paihang ul li{
    font-size: 14px;
    height:34px;
    width: 546px;
    margin:0 auto;
    font-family:SimSun;
    line-height:34px;
    border-bottom: 1px dashed #c7c7c7;
}
.paihang ul li:last-child{
    border-bottom: 0;
}
.paihang ul li a{
    height: 29px;
    color:#454545;
    font-weight: 600;
    display: inline-block;
    width:400px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
}
.paihang ul li a:hover{
    color:gray;
}
.paihang ul li img{
    margin-right:10px;
}
.paihang ul li span{
    float: right;
    color: gray;
}
.paihang .news_right{
    float: right;
    width: 564px;
    height: 258px;
}
/* 精英业绩排行部分样式 */
.paihang{
    width: 1153px;
    height:605px;
    margin: 0 auto;
}
.jy{
    width: 841px;
    height: 280px;
    cursor: pointer;
    background: url(../images/jingy_03.jpg)no-repeat;
    background-size:100% 100%;
}
.jy p{
    font-size: 13px;
    color: #393939;
    text-align: right;
    margin-right:15px;
    padding-top:17px;
}
.jy p a{
    margin-left:18px;
    margin-right:18px;
}
/* 个人业绩 */
.jy .ge{
    width: 267px;
    height: 223px;
    display: inline-block;
    margin-left: 9px;
    margin-top: 5px;
}
.jy .head{
    width: 247px;
    height: 37px;
    margin-top: 5px;
}
.jy .head li{
    float: left;
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    width: 121px;
    text-align: center;
    line-height: 37px;
    font-family: SimSun;
}
.jy .head li:first-child{
    margin-left:5px;
}
.jy .body{
    width: 247px;
    height:43px;
    margin-top:16px;
}
.jy .body li{
    float: left;
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height:43px;
    font-family: SimSun;
}
.jy .body li:first-child{
    width: 24px;
    text-align: center;
    font-weight: bolder;
    font-style:italic;
    font-size:18px;
    color: #bababa;
    margin-left:15px;
}
.jy .body li:nth-child(2){
    width:50px;
    text-align: center;
    font-weight: bolder;
    font-size:14px;
    color: #000;
    margin-right:8px;
}
.jy .body li:nth-child(3){
    width: 41px;
    height: 37px;
    margin-right:14px;
}
.jy .body li:nth-child(3) div{
    width: 41px;
    height: 37px;
    border:2px solid #fce704;
    border-radius: 50%;
    overflow: hidden;
}
.jy .body li:nth-child(3) div img{
    width: 100%;
    height: 100%;
}
.jy .body li:nth-child(4){
    color: #672500;
    font-size: 18px;
    font-weight: bold;
    /* letter-spacing: 2px; */
    font-family: Arial;
}
/* 组别业绩 */
.jy .zu{
    width: 267px;
    height: 223px;
    display: inline-block;
    margin-left:2px;
    margin-top: 5px;
}
/* 片区业绩 */
.jy .pian{
    width: 267px;
    height: 223px;
    display: inline-block;
    margin-left:2px;
    margin-top: 5px;
}
.paihang .paihang_left{
    width: 848px;
    height: 597px;
    display: inline-block;
}
.paihang .paihang_left div{
    /* width:840px; */
}
/* 企业通部分 */
.qiye{
    width: 299px;
    height:574px;
    float: right;
    border-right: 1px solid #d0cece;
    border-bottom: 1px solid #d0cece;
    background: url(../images/qiye2_03.jpg)no-repeat;
}
/* 前线使用部分样式 */
.qiye .qian{
    width: 280px;
    height: 75px;
    margin: 80px auto;
    display: flex;
}
.qiye .qian div{
    height: 100%;
    width: 34%;
}
.qiye .qian div:nth-child(1){
    margin-left:10px;
}
.qiye .qian div:nth-child(2){
    height: 100%;
    width: 30%;
    margin-left: -6px;
}
.qiye .qian div p{
    font-size: 14px;
    text-align: center;
}
.qiye .qian div img{
    width: 55px;
    height: 50px;
    margin-top:12px;
    margin-left:15px;
    margin-bottom: 5px;
}
/* 后勤使用部分样式 */
.qiye .hou{
    width: 280px;
    height: 0px;
    margin: 80px auto;
    display: flex;
    margin-bottom: 12px;
}
.qiye .hou div{
    height: 100%;
    width: 33%;
}
.qiye .hou div:nth-child(1){
    margin-left:10px;
}
.qiye .hou div:nth-child(2){
    height: 100%;
    width: 30%;
    margin-left: -6px;
}
.qiye .hou div p{
    font-size: 14px;
    text-align: center;
}
.qiye .hou div img{
    width: 55px;
    height: 50px;
    margin-left:15px;
    margin-bottom: 5px;
}
/* 交易知识部分样式 */
.jiaoyi{
    width: 1153px;
    height: 200px;
    margin: 15px auto;
}
.jiaoyi .jiaoyi_left{
    width: 841px;
    height: 197px;
    display: inline-block;
}
.jiaoyi .jiaoyi_right{
    float: right;
}
/* 销售技巧部分样式 */
.xiaoshou{
    width: 1153px;
    height: 677px;
    margin:-30px auto;
}
.xiaoshou .jiqiao{
    width: 1153px;
    height: 414px;
}
.xiaoshou .jiqiao .jiqiao_left{
    width: 840px;
    height: 414px;
    display: inline-block;
}
.xiaoshou .jiqiao .jiqiao_left .left_top img{
    width: 840px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom{
    width: 840px;
    height: 275px;
    margin-top:15px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_1,.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2,.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_3{
    display: inline-block;
}

.xiaoshou .jiqiao .jiqiao_left .left_bottom img{
    height:275px;
    width: 100%;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2{
    width: 285px;
    height: 275px;
    margin-left:10px;
    background: url(../images/home4_05.jpg)no-repeat;
    background-size: 100% 100%;
    /* overflow: hidden; */
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .dome_top{
    height: 83px;
    width: 285px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .dome_bot{
    height:191px;
    width: 285px;
    overflow: hidden;
}
#dome1{
    width: 196px;
    height:191px;
    margin-left: 28px;
    margin-top: 100px;
    margin-bottom: 16px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 #dome2{
    margin-top:15px;
    height:191px;
    margin-left: 28px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .divs{
    width: 193px;
    height: 35px;
    margin-bottom: 16px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .divs .divs_pic{
    width: 32px;
    height: 32px;
    border:1px solid #fff;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .divs .divs_pic img{
    width: 100%;
    height: 100%;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .divs span{
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    margin-top: -24px;
    margin-left: 45px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .divs .divs_zhufu{
    width: 137px;
    height: 33px;
    background: #fff;
    margin-top: -20px;
    margin-left: 50px;
    line-height: 33px;
    font-size: 14px;
    color: #464646;
    padding-left: 7px;
    border-radius: 5px;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_2 .divs .divs_zhufu img{
    width: 13px;
    height: 15px;
    vertical-align: middle;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_3{
    width: 249px;
    height: 275px;
    float: right;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_3 .div_top{
    width: 249px;
    height: 43px;
    background: url(../images/rongyu_03.jpg)no-repeat;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_3 .div_bottom{
    width: 247px;
    height: 232px;
    border:1px dashed #d3d1d1;
}
.xiaoshou .jiqiao .jiqiao_left .left_bottom .div_3 .div_bottom img{
    width: 100%;
    height: 100%;
}
.xiaoshou .jiqiao .jiqiao_right{
    width: 300px;
    height: 414px;
    float: right;
}
.xiaoshou .jiqiao .jiqiao_right .right_top{
    width: 300px;
    height: 36px;
    background: url(../images/home_101.jpg)no-repeat;
}
.xiaoshou .jiqiao .jiqiao_right .right_bottom{
    width: 300px;
    height: 85px;
    margin-top:10px;
}
.xiaoshou .jiqiao .jiqiao_right .right_bottom div{
    width: 88px;
    height: 81px;
    border:1px solid #e3e3e3;
    display: inline-block;
}
.xiaoshou .jiqiao .jiqiao_right .right_bottom div p{
    font-size: 13px;
    text-align: center;
}
.xiaoshou .jiqiao .jiqiao_right .right_bottom div img{
    display: block;
    width: 38px;
    height: 40px;
    margin:9px auto;
}
.xiaoshou .jiqiao .jiqiao_right .right_bottom .bottom_2{
    margin-left:9px;
    margin-right:9px;
}
.xiaoshou .news{
    width: 1153px;
    height: 254px;
    margin:13px auto;
}
.xiaoshou .news .news_left{
    width: 579px;
    height: 254px;
    display: inline-block;
}
.xiaoshou .news .news_left .class5 ul{
    border-bottom: 0;
    border-top:1px solid #c7c7c7;
    height: 41px;
}
.xiaoshou .news .news_left .class5 ul li{
    width:132px;
    height: 41px;
    float: left;
    border-bottom: 0;
    cursor: pointer;
    background: url(../images/home_21.jpg);
}
.xiaoshou .news .news_left .class5 a{
    width: 293px;
    height: 41px;
    padding-right: 20px;
    line-height: 41px;
    margin-left: 266px;
    /* margin-top: -42px; */
    text-align: right;
    display: block;
    color: #431201;
    font-size: 15px;
    border-bottom: 1px solid #c7c7c7;
    background: url(../images/home_21.jpg);
}
.xiaoshou .class6 ul{
    display: none;
}
.xiaoshou .news .news_left .class5 ul li.active{
    border-bottom: 0;
    background: url(../images/home_19.jpg)no-repeat;
    background-size: 100% 100%;
}
.xiaoshou .news .news_left .class5 ul li img{
    display: block;
    width: 87px;
    height: 23px;
    margin:8px auto;
    vertical-align: middle;
}
.xiaoshou .class6 ul{
    display: none;
}
.xiaoshou .news  ul{
    width: 579px;
    border:1px solid #c7c7c7;
    border-top:0;
}
.xiaoshou .news ul p{
    width: 579px;
    height: 42px;
}
.xiaoshou .news ul p span img{
    width: 86px;
    height: 24px;
    margin-top:10px;
    margin-left:25px;
}
.xiaoshou .news ul p .span1{
    width: 138px;
    height: 42px;
    cursor: pointer;
    display: inline-block;
    background: url(../images/home_19.jpg)no-repeat;
    background-size:100% 100%;
    border-bottom: 0;
}
.xiaoshou .news ul p .span2{
    width: 138px;
    height: 42px;
    cursor: pointer;
    display: inline-block;
    border-left:1px solid #c7c7c7;
    border-right:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    background: url(../images/home_21.jpg);
}
.xiaoshou .news ul p a{
    color: #431201;
    width: 142px;
    height: 42px;
    display: inline-block;
    position: relative;
    top: -7px;
    line-height: 42px;
    text-align: right;
    padding-right: 20px;
    border-bottom: 1px solid #c7c7c7;
    background: url(../images/home_21.jpg);
    background-size: 100% 100%;
    border-top: 1px solid #c7c7c7;
}
.xiaoshou .news ul li{
    font-size: 14px;
    height: 34px;
    width: 546px;
    margin:0 auto;
    line-height: 34px;
    border-bottom: 1px dashed #c7c7c7;
}
.xiaoshou .news ul li:last-child{
    border-bottom: 0;
}
.xiaoshou .news ul li a{
    color:#454545;
    height: 29px;
    font-family: SimSun;
    display: inline-block;
    width:380px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xiaoshou .news ul li a:hover{
    color:gray;
}
.xiaoshou .news ul li img{
    margin-right:10px;
}
.xiaoshou .news ul li span{
    float: right;
    color: gray;
}
.xiaoshou .news .news_right{
    float: right;
}
.xiaoshou .news_right{
    width: 564px;
    height: 254px;
}
/* 页面尾部样式 */
.footer{
    width: 774px;
    height: 200px;
    padding-right: 320px;
    padding-left: 329px;
	margin: 0 auto;
	background: #ebebeb;
	margin-top:50px;
}
.footer .buttom{
	width: 774px;
}
.footer img{
	margin-top:27px;
	margin-bottom: 25px;
}
.footer .buttom p{
	text-align: center;
	font-size: 13px;
	color: rgb(111,111,111);
}
.footer .buttom p a{
	width: 121px;
	height: 24px;
	text-align: center;
	display: inline-block;
	color: rgb(111,111,111);
	font-size: 16px;
	font-weight: 400;
}
.footer .buttom .adress{
	font-size: 13px;
	color: rgb(111,111,111);
}
/* 柱状图 */
.zhu{
    width: 841px;
    height:300px;
}
.zhu .zhu_left{
    width: 414px;
    height: 300px;
    cursor: pointer;
    display: inline-block;
    background: url(../images/zhu_06.jpg)no-repeat;
    background-size: 100% 100%;
}

.zhu .zhu_left p span{
    width: 285px;
    display: inline-block;
    font-style:oblique;
    margin-top: 32px;
    border-bottom: 2px solid #02707d;
}
.zhu .zhu_left p{
    color: #1a725f;
    font-size:18px;
    width: 385px;
    height: 31px;
    line-height: 31px;
    margin:0 auto;
}
.zhu .zhu_left p span i{
    font-size: 20px;
    font-weight: 600;
}
.zhu .zhu_left p a{
    width: 100px;
    height: 25px;
    line-height: 25px;
    float: right;
    text-align: right;
    text-decoration: none;
    color: #5e5e5e;
    font-size: 12px;
    margin-top:7px;
    border-bottom: 1px solid #02707d;
}
.zhu .zhu_left .xm{
    width: 385px;
    height: 36px;
    margin:0 auto;
}
.zhu .zhu_left .xm span{
    color: #828282;
    width: 385px;
    line-height: 36px;
    display: inline-block;
    font-size: 14px;
}
.zhu .zhu_left .xm span i{
    color:#000;
    font-weight: 600;
    font-size: 14px;
    font-style:normal;
}
.zhu .zhu_left .xm select{
    height: 20px;
    border: 1px solid #b8c2c7;
    text-align: center;
    outline: none;
    display: inline-block;
    float: right;
    margin-top: 7px;
    color: #5e5e5e;
    background: rgba(0,0,0,0);
}
#container{
    width: 385px;
    height: 225px;
    margin:0 auto;
}
.zhu .zhu_right{
    width: 414px;
    height: 300px;
    float: right;
    cursor: pointer;
    background: url(../images/zhu_03.jpg)no-repeat;
    background-size: 100% 100%;
}
.zhu .zhu_right p span{
    width: 285px;
    display: inline-block;
    font-style:oblique;
    margin-top: 32px;
    border-bottom: 2px solid #02707d;
}
.zhu .zhu_right p{
    color: #1a725f;
    font-size:18px;
    width: 385px;
    height: 31px;
    line-height: 31px;
    margin:0 auto;
}
.zhu .zhu_right p span i{
    font-size: 20px;
    font-weight: 600;
}
.zhu .zhu_right p a{
    width: 100px;
    height: 25px;
    line-height: 25px;
    float: right;
    text-align: right;
    text-decoration: none;
    color: #5e5e5e;
    font-size: 12px;
    margin-top:7px;
    border-bottom: 1px solid #02707d;
}
#main{
    width: 385px;
    height: 278px;
    margin:18px auto;
}
/* 登陆弹出框 */
.bg{
	display: none;
	width:500px;
	height:492px;
	position: fixed;
	margin:auto;
	left:0; 
	right:0; 
	top:0; 
	bottom:0;
	z-index:1000;
	background: url(../images/login.png)no-repeat;
}
.bg .bgbox{
    width: 462px;
    height: 454px;
    border:1px solid #fff;
    margin:18px auto;
}
.bg .bgbox .bgtop{
    width: 156px;
    height: 105px;
    margin:22px auto;
}
.bg .bgbox .bgtop p{
    font-size: 28px;
    color: #fff;
    letter-spacing: 9px;
    margin-left: 8px;
    margin-top:12px;
}
.bg .bgbox .bgbot .input{
    width: 329px;
    height: 49px;
    border-radius: 5px;
    margin-left:64px;
    margin-bottom: 31px;
    color: #924d01;
    background: #edc9a8;
    outline: none;
    border:2px solid #fff;
}
.bg .bgbox .bgbot .input:first-child img{
    width: 35px;
    height: 36px;
    margin-left:19px;
    margin-top:5px;
    display: inline-block;
}
.bg .bgbox .bgbot .input:nth-child(2) img{
    width:52px;
    height: 35px;
    margin-left:19px;
    margin-top:5px;
    display: inline-block;
}
.bg .bgbox .bgbot .input input{
    width:238px;
    float: right;
    height: 47px;
    font-size: 22px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 31px;
    color: #924d01;
    background: #edc9a8;
    outline: none;
    border: 0;
}
.bg .bgbox .bgbot button{
    width: 329px;
    height: 77px;
    border-radius: 5px;
    margin-left:64px;
    border:0;
    color: #fff;
    font-size: 25px;
    text-align: center;
    outline: none;
    letter-spacing:25px;
    background: url(../images/login1_15.png)no-repeat;
}
#zr_0{
    height: 291px;
}

