/* CSS Document */
div,html,body,ul,li,h5,p,h6,marquee{
	padding:0;
	margin:0;
}
html,body{
	width: 1400px;
}
a:hover{
	text-decoration: none;
	color: #000000;
}
a{
	text-decoration: none;
}
li{
	font-size: 14px;
    list-style: none;
}
/*顶部导航*/
.top{
	width: 1400px;
	height:51px;
	margin-bottom: 1px;
	/* background:url(../images/topbg01.jpg); */
	background-size: contain;
	/*overflow:hidden;*/
}
.top #xuetang{
	border:1px solid #ca7708;
	border-bottom: 0;
	/*padding-bottom: 1px;*/
    background:url(../images/menubg01.jpg);
}
.top #xuetang a{
    height:40px;
	background-image:-webkit-linear-gradient(left,#ffffff,#ffffff,#ffffff);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
}
.top .top_1{
	width: 1153px;
	margin: 0 auto;
	padding-top:6px;
}
.top .top_cen{
	width: 257px;
	height:42px;
	float: left;
	margin:0 auto;
}
/*新闻内容*/
.buttom{
	width: 1400px;
}
/*新闻左边列表*/
.buttom .cen{
	width: 1153px;
	margin: 0 auto;
	overflow: hidden;
}
#last{
	/* display: none; */
	width: 45px;
	height: 45px;
	text-align: center;
	/* line-height: 35px; */
	border:1px solid black;
	background:gainsboro;
	outline: none;
	border-radius: 50%;
	font-size: 10px;
	position: fixed;
	top:690px;
	left:1300px;
}
.buttom .cen .left{
    font-family: "SimSun";
	width: 260px;
	display: inline-block;
}
.buttom .cen .right ul{
	margin-top: -15px;
}
.buttom .cen .right ul li{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #8f8f8f;
}
.buttom .cen .right ul li a{
	color:#000000;
	font-size: 14px;
	text-decoration: none;
	/* border-top:1px solid #d0cece; */
}
.buttom .cen .right ul li span{
	float: right;
	margin-right:15px;
}
.market{
	width: 254px;
	height: 50px;
	background: white;
	border-right:2px solid #62adf1;
}
.market{
	border:1px solid #d0cece;
	border-bottom: 0;
	width: 253px;
	height: 50px;
	background: white;
	border-right:2px solid #62adf1;
}
.market span{
	display: inline-block;
	width: 162px;
	height: 50px;
	font-size: 10px;
	background:#62adf1;
}
.market span img{
	margin-top: 7px;
	margin-left:37px;
}
.yellow{
	font-family: Arial;
	border:1px solid #d0cece;
	font-weight:600;
	font-size: 14px;
	width: 253PX;
	height: 27PX;
	background: white;
    border-right:2px solid #f2df02;
    color:#62adf1;
}
.yellow span{
	font-size: 14px;
    display: inline-block;
    width: 162px;
    height: 27px;
    line-height: 27px;
    background: #f2df02;
    color: white;
    text-align: right;
    margin-right: -3px;
}
.three{
	width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: rgb(241,227,192);
}
.three a{
	display: -mox- block;
    text-decoration: none;
    color: rgb(81,63,45);
}
.three a:hover{
    text-decoration: none;
    color: rgb(81,63,45);
}
.three .s1{
	display: inline-block;
	line-height: 35px;
	font-size: 12px;
	margin-right:10px;	
}
.three .s2{
	display: inline-block;
	line-height: 35px;
	font-size: 16px;
	font-weight: 600;
	margin-right:10px;	
}
.buttom .cen .left #three_3{
    width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left #three_3 a{
	width: 217px;
	height: 35px;
	display: block;
}
.buttom .cen .left .divs{
	width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left .divs a {  
    cursor: pointer;
    text-decoration: none;
	color: rgb(81,63,45);
	display: -mox- block;
}
.buttom .cen .left .divs .s1{
	font-size: 10px;
	margin-right:10px;
}
.buttom .cen .left .divs .s2{
	font-size: 16px;
	/* margin-right:10px; */
}
.buttom .cen .right ul li a:hover{
	color:gray;
}
/*新闻右边列表*/
.buttom .right{
	width: 882px;
	float: right;
}
.buttom .cen .right h5{
	height:35px;
	width: 877px;
	border-left: 5px solid #62adf1 ;
	border-bottom: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	background: url(../images/xtbj_03.png)no-repeat;
	background-size: 100% 100%;
}
.buttom .cen .right h5 img{
	margin-left:15px;
	margin-right:15px;
	margin-top: -4px;
	vertical-align: middle;
}
.buttom .cen .right h5 p{
	font-size: 16px;
	height: 35px;
	color: #7d7d7d;
    line-height: 35px;
    display: inline-block;
}
.buttom .cen .right h5 span{
    text-align: center;
	line-height: 34px;
    height:35px;
    min-width: 33px;
}
.buttom .cen .right .neirong{
	height:35px;
	width: 863px;
	list-style: none;
	font-size: 13px;
	line-height: 35px;
    margin-right:10px;
}
.center_top1{
	width: 880px;
	height: 416px;
    font-size: 14px;
	line-height:27px;
    margin-top:15px;
    margin-bottom: 35px;
}
.center_top1 .top_left{
    width: 441px;
    height: 157px;
    margin-left: 20px;
    display: inline-block;
}
.center_top1 .top_left img{
    margin-left: -20px;
    height: 100%;
    width: 213px;
    margin-right:10px;
    vertical-align:top;
}
.center_top1 .top_left p{
    width: 222px;
    height: 100%;
    display: inline-block;
    font-size: 15px;
    margin-top:-5px;
    line-height: 25px;
}
.center_top1 .top_right{
    width: 414px;
    height: 157px;
    display: inline-block;
}
.center_top2{
	width: 880px;
    font-size: 14px;
	line-height:27px;
	margin-top:-268px;
	-moz-margin-top:-80px;
}
.center_top2 img{
    margin-top:3px;
    padding-left:6px;
}
.center_top2 span{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-left:10px;
}
.center_top2 table{
	border:1px solid #dddddd;
	font-size: 16px;
}
.center_top2 table td{
	margin-left:26px;
	line-height: 35px;
    border-spacing: 0;
    border-bottom:1px solid #dddddd;
}
.center_top2 table tr:first-child td:first-child{
	color: black;
}
.center_top2 table td:first-child{
	color: gray;
}
.center_top2 table td a{
	color: black;
	text-decoration: none;
}
.center_top2 .right_left{
    width: 434px;
    display: inline-block;
}
.center_top2 .right_right{
    width: 434px;
    display: inline-block
}
