/* CSS Document */

div,html,body,ul,li,h5,p,marquee{
	padding:0;
	margin:0;
}
li{
    list-style: none;
    float: left;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: #000000;
}
html,body{
	width: 1400px;
}
/*顶部导航*/
.top{
	width: 1400px;
	height:51px;
	margin-bottom: 1px;
	/* background:url(../images/topbg01.jpg); */
	background-size: contain;
	/*overflow:hidden;*/
}
.top #lianqin{
	border:1px solid #ca7708;
	border-bottom: 0;
	/*padding-bottom: 1px;*/
    background:url(../images/menubg01.jpg);
}
.top #lianqin a{
    height:40px;
	background-image:-webkit-linear-gradient(left,#ffffff,#ffffff,#ffffff); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
}
.top .top_1{
	width: 1153px;
	margin: 0 auto;
	padding-top:6px;
}
.top .top_cen{
	width: 257px;
	height:42px;
	float: left;
	margin:0 auto;
}
/*新闻内容*/
.buttom{
	width: 1400px;
}
#last{
	/* display: none; */
	width: 45px;
	height: 45px;
	text-align: center;
	/* line-height: 35px; */
	border:1px solid black;
	background:gainsboro;
	outline: none;
	border-radius: 50%;
	font-size: 10px;
	position: fixed;
	top:690px;
	left:1300px;
}
/*新闻左边列表*/
.buttom .cen{
	width: 1153px;
	margin: 0 auto;
	overflow: hidden;
}
.buttom .cen .left{
	font-family: "SimSun";
	width: 260px;
	display: inline-block;
}
.buttom .cen .right ul li a{
	color:#000000;
	font-size: 15px;
	text-decoration: none;
	/* border-top:1px solid #d0cece; */
}
.market{
	width: 254px;
	height: 50px;
	background: white;
	border-right:2px solid #62adf1;
}
.market{
	border:1px solid #d0cece;
	border-bottom: 0;
	width: 253px;
	height: 50px;
	background: white;
	border-right:2px solid #62adf1;
}
.market span{
	display: inline-block;
	width: 162px;
	height: 50px;
	font-size: 10px;
	background:#62adf1;
}
.market span img{
	margin-top: 10px;
    margin-left: 34px;
}
.yellow{
	font-family: Arial;
	border:1px solid #d0cece;
	font-weight:600;
	font-size: 14px;
	width: 253PX;
	height: 27PX;
	background: white;
    border-right:2px solid #f2df02;
    color:#62adf1;
}
.yellow span{
	font-size: 14px;
    display: inline-block;
    width: 162px;
    height: 27px;
    line-height: 27px;
    background: #f2df02;
    color: white;
    text-align: right;
    margin-right: -3px;
}
.three{
	width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	/* line-height: 37px; */
	background: rgb(241,227,192);
}
.three a{
	display: -mox- block;
    text-decoration: none;
    color: rgb(81,63,45);
}
.three a:hover{
    text-decoration: none;
    color: rgb(81,63,45);
}
.three .s1{
	display: inline-block;
	line-height: 35px;
	font-size: 12px;
	margin-right:10px;	
}
.buttom .cen .left #three_11{
    width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left #three_11 a{
	width: 217px;
	height: 35px;
	display: block;
}
.three .s2{
	display: inline-block;
	line-height: 35px;
	font-size: 16px;
	font-weight: 600;
	margin-right:10px;	
}
.buttom .cen .left .divs{
	width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left .divs a {  
    cursor: pointer;
    text-decoration: none;
	color: rgb(81,63,45);
	display: -mox- block;
}
.buttom .cen .left .divs .s1{
	font-size: 10px;
	margin-right:10px;
}
.buttom .cen .left .divs .s2{
	font-size: 16px;
}
.buttom .cen .left .pic{
    width: 254px;
    height: 263px;
    margin-top:14px;
    margin-bottom: 15px;
    border:1px solid #d3d3d3;
}
.buttom .cen .right .kong{
	font-size: 14px;
	width: 881px;
	height: 473px;
	margin-bottom: 56px;
	background:url(../images/fwrbg_03.jpg)no-repeat;
}
.kong .kong_top{
	width: 700px;
	height: 125px;
	font-size: 15px;
	text-indent: 20px;
	line-height: 30px;
	padding-top:48px;
	padding-right:86px;
	padding-left:75px;
}
.kong_bot{
	width: 881px;
	height: 254px;
}
.kong .kong_bot .bot_left{
	width: 315px;
	height: 209px;
	margin-left:80px;
	margin-top:15px;
	padding-top:25px;
	float: left;
}
.kong .kong_bot .bot_right{
	width: 368px;
	height: 209px;
	float: right;
	font-size: 14px;
	padding-left:32px;
	padding-top:50px;
	padding-right:86px;
}
.buttom .cen .left .pic img{
    width: 100%;
    height: 100%;
}
.picss{
	margin-top: 15px;
	width: 256px;
}
.picss img{
	width: 100%;
	margin-bottom:15px;
}
.buttom .right .right_top .fanwei .ubox .body li:nth-child(3),.buttom .right .right_bot .ubox .body li:nth-child(3) {
    color: black;
}
/* 联勤保障右边 */
.buttom .right{
	width: 883px;
	float: right;
}
.buttom .right span{
	font-size: 14px;
	margin-top:8px;
	/* margin-right:16px; */
}
.buttom .right span a{
	text-decoration: none;
	color: #000000;
}
.buttom .right span a:hover{
	text-decoration: none;
	color: #000000;
}
.buttom .right .right_top{
    width: 881px;
    height:312px;
    margin-top:-26px;
    margin-bottom:40px;
}
.buttom .right .right_top .fanwei{
    width: 431px;
    height: 240px;
    float: left;
}
.buttom .right .right_top .fanwei h5{
    width: 419px;
    height: 30px;
    border-left:11px solid #62adf1;
	border-top:1px solid #d0cece;
	border-bottom:1px solid #d0cece;
    margin-bottom: 10px;
	border-right:1px solid #d0cece;
	background: url(../images/lianqinbj_03.jpg)no-repeat;
	background-size:100% 100%;
}
.buttom .right .right_top .fanwei h5 img{
    margin-left:19px;
	margin-top:-5px;
	vertical-align: middle;
}
.buttom .right .right_top .fanwei h5 p:nth-child(2){
	margin-left:15px;
}
.buttom .right .right_top .fanwei .ubox{
    height: 21px;
}
.buttom .right .right_top .fanwei .ubox .header{
	height: 40px;
    font-size: 14px;
	background: #d3e6a8;
	font-weight: 600;
    border:1px solid #dddddd;
}
.buttom .right .right_top .fanwei .ubox .header li{
	height: 40px;
    line-height: 40px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
}
.buttom .right .right_top .fanwei .ubox .body{
	height: 40px;
    font-size: 14px;
	border:1px solid #dddddd;
	border-bottom: 0;
    color: #666666;
}
.buttom .right .right_top .fanwei .ubox .body:last-child{
	border-bottom:1px solid #dddddd;
}
.buttom .right .right_top .fanwei .ubox .body li{
	height: 40px;
    line-height:40px;
    border-top:0;
}
.buttom .right .right_top .zhiyin{
    width: 431px;
    height: 240px;
    float: right;
}
.buttom .right .right_top .zhiyin h5{
    width: 419px;
    height: 30px;
    border-left:11px solid #62adf1;
    border-top:1px solid #d0cece;
    border-bottom:1px solid #d0cece;
    margin-bottom: 10px;
	border-right:1px solid #d0cece;
	background: url(../images/lianqinbj_05.jpg)no-repeat;
	background-size:100% 100%;
}
.buttom .right .right_top .zhiyin h5 img{
    margin-left:19px;
	margin-top:-5px;
	vertical-align: middle;
}
.buttom .right .right_top .zhiyin h5 p:nth-child(2){
	margin-left:15px;
}
.buttom .right .right_top .zhiyin .ubox{
    height: 21px;
}
.buttom .right .right_top .zhiyin .ubox .header{
    height: 40px;
	font-size: 14px;
	font-weight: 600;
    background: #9bddde;
    border:1px solid #dddddd;
}
.buttom .right .right_top .zhiyin .ubox .header li{
    height: 40px;
    line-height:40px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
}
.buttom .right .right_top .zhiyin .ubox .body{
    height:40px;
    font-size: 14px;
	border:1px solid #dddddd;
	border-bottom: 0;
    color: #666666;
}
.buttom .right .right_top .zhiyin .ubox .body:last-child{
	border-bottom:1px solid #dddddd;
}
.buttom .cen .right h5 p {
    font-size: 14px;
    height: 35px;
    color: #7d7d7d;
    line-height: 35px;
    display: inline-block;
}
.buttom .cen .right h5 span {
    text-align: center;
    line-height: 34px;
    height: 35px;
    min-width: 33px;
}
.buttom .right .right_top .zhiyin .ubox .body li{
	height:40px;
    line-height:40px;
	border-top:0;
}
.buttom .right .right_top .zhiyin .ubox .body li:nth-child(3){
	color: black;
}
.buttom .right .right_bot{
    width: 883px;
    height: 240px;
}
.buttom .right .right_bot h5{
    width: 869px;
    height: 30px;
    border-left:11px solid #62adf1;
    border-top:1px solid #d0cece;
	border-right:1px solid #d0cece;
	border-bottom:1px solid #d0cece;
	margin-bottom: 10px;
	background: url(../images/lianqinbj_09.jpg)no-repeat;
	background-size:100% 100%;
}
.buttom .right .right_bot h5 img{
    margin-left:19px;
	margin-top:-5px;
	vertical-align: middle;
}
.buttom .right .right_bot h5 p:nth-child(2){
	margin-left:15px;
}
.buttom .right .right_bot .ubox{
    height: 24px;
}
.buttom .right .right_bot .ubox .header{
    height:40px;
	font-size: 14px;
	font-weight: 600;
    background: #c6bff6;
    border:1px solid #dddddd;
}
.buttom .right .right_bot .ubox .header li{
    height:40px;
    line-height:40px;
    text-align: center;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
}
.buttom .right .right_bot .ubox .body{
    height:40px;
    font-size: 14px;
	border:1px solid #dddddd;
	color: #666666;
	border-bottom: 0;
}
.buttom .right .right_bot .ubox .body:last-child{
	border-bottom:1px solid #dddddd;
}
.buttom .right .right_bot .ubox .body li{
	height:40px;
    line-height:40px;
    text-align: center;
    border-top:0;
    border-left:1px solid #fff;
    white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
}
