/* CSS Document */
div,html,body,ul,li,h5,p,marquee{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}
html,body{
	width: 1400px;
}
a:hover{
	text-decoration: none;
	color: #000000;
}
/*顶部导航*/
.top{
	width: 1400px;
	height:51px;
	margin-bottom: 1px;
	background-size: contain;
	/*overflow:hidden;*/
}
.top #good{
	border:1px solid #ca7708;
	border-bottom: 0;
	/*padding-bottom: 1px;*/
    background:url(../images/menubg01.jpg);
}
.top #good a{
    height:40px;
	background-image:-webkit-linear-gradient(left,#ffffff,#ffffff,#ffffff);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent;
}
.top .top_1{
	width: 1153px;
	margin: 0 auto;
	padding-top:6px;
}
.top .top_cen{
	width: 257px;
	height:42px;
	float: left;
	margin:0 auto;
}
/*新闻内容*/
.buttom{
	width: 1400px;
}
/*新闻左边列表*/
.buttom .cen{
	width: 1153px;
	margin: 0 auto;
	overflow: hidden;
}
#last{
	/* display: none; */
	width: 45px;
	height: 45px;
	text-align: center;
	/* line-height: 35px; */
	border:1px solid black;
	background:gainsboro;
	outline: none;
	border-radius: 50%;
	font-size: 10px;
	position: fixed;
	top:690px;
	left:1300px;
}
.buttom .cen .left{
    font-family: "SimSun";
	width: 260px;
	display: inline-block;
}
.buttom .cen .right ul li a{
	color:#000000;
	font-size: 12px;
	text-decoration: none;
	/* border-top:1px solid #d0cece; */
}
.market{
	width: 254px;
	height: 50px;
	background: white;
	border-right:2px solid #62adf1;
}
.market{
	border:1px solid #d0cece;
	border-bottom: 0;
	width: 253px;
	height: 50px;
	background: white;
	border-right:2px solid #62adf1;
}
.market span{
	display: inline-block;
	width: 162px;
	height: 50px;
	font-size: 15px;
	background:#62adf1;
}
.market span img{
	margin-top:10px;
	margin-left:35px;
}
.yellow{
	font-family: Arial;
	border:1px solid #d0cece;
	font-weight:600;
	font-size: 14px;
	width: 253PX;
	height: 27PX;
	background: white;
    border-right:2px solid #f2df02;
    color:#62adf1;
}
.yellow span{
	font-size: 14px;
    display: inline-block;
    width: 162px;
    height: 27px;
    line-height: 27px;
    background: #f2df02;
    color: white;
    text-align: right;
    margin-right: -3px;
}
.three{
	width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: rgb(241,227,192);
}
.three a{
	display: -mox- block;
    text-decoration: none;
    color: rgb(81,63,45);
}
.three a:hover{
    text-decoration: none;
    color: rgb(81,63,45);
}
.three .s1{
	display: inline-block;
	line-height: 35px;
	font-size: 12px;
	margin-right:10px;	
}
.two{
	width: 215px;
    height: 35px;
    margin-left: 7px;
	color: #7f4d1e;
	font-size: 14px;
	font-weight: 600;
	line-height: 32px;
	padding-left: 32px;
	background: #f8f1df;
	border-left:1px solid #e3d2c0;
	border-right:1px solid #e3d2c0;
	border-bottom: 1px solid #d8d5ca;
	border-top:1px solid #ffffff;
}
.two .s1{
	display: inline-block;
	line-height: 35px;
	font-size: 10px;
	margin-right:15px;	
}
.two a{
    text-decoration: none;
    color: #7f4d1e;
}
.buttom .cen .left #three_4{
    width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left #three_4 a{
	width: 217px;
	height: 35px;
	display: block;
	text-decoration: none;
	color: rgb(81,63,45);
}
.three .s2{
	display: inline-block;
	line-height: 35px;
	font-size: 16px;
	font-weight: 600;
	margin-right:10px;	
}
.one{
	width: 257px;
	/* margin-top:11px; */
}
/* 列表上半部分点击之后的样式 */
.buttom .cen .left .divs{
	width: 217px;
	height:35px;
	color: rgb(81,63,45);
	border-left:8px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 32px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left .divs a {  
    cursor: pointer;
    text-decoration: none;
	color: rgb(81,63,45);
	display: -mox- block;
}
.buttom .cen .left .divs a:hover{
	text-decoration: none;
	color: #000000;
}
.buttom .cen .left .divs a .s1{
	font-size: 10px;
	margin-right:10px;
}
.buttom .cen .left .divs a .s2{
	font-size: 16px;
}
/* 列表下半部分点击之后的样式 */
.buttom .cen .left .div{
	width: 217px;
	height:35px;
	border-left:1px solid #c8a581;
	border-right:1px solid #d5d5d4;
	border-bottom:1px solid #d5d5d4; 
	border-top:1px solid #ffffff;
	padding-left:30px;
	color: #7f4d1e;
	font-size: 13px;
	font-weight: 600;
	line-height: 32px;
	margin-left:7px;
	background: url(../images/bj2_03.jpg);
}
.buttom .cen .left .div a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: #7f4d1e;
}
.buttom .cen .left .divs a:hover{
	text-decoration: none;
	color: #000000;
}
.buttom .cen .left .div a .s1{
	font-size: 10px;
	margin-right:17px;
}
.buttom .cen .left .div a .s2{
	font-size: 14px;
	/* margin-right:10px; */
}
.buttom .cen .right ul li a:hover{
	color:gray;
}
/*新闻右边列表*/
.buttom .right{
	width: 882px;
	float: right;	
}
.buttom .right .one{
	width:882px;
	margin-bottom: 15px;
	display: block;
}
.buttom .cen .right h5{
	height:35px;
	width: 875px;
	border-left: 5px solid #62adf1 ;
	border-bottom: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	background: url(../images/guanyu_07.png)no-repeat;
	background-size:100% 100%;
}
.buttom .cen .right h5 img{
	margin-left:15px;
	margin-right:15px;
	margin-top: -4px;
	vertical-align: middle;
}
.buttom .cen .right h5 p{
	font-size: 16px;
	height: 35px;
	color: #7d7d7d;
    line-height: 35px;
    display: inline-block;
}
.buttom .cen .right h5 span{
    text-align: center;
	line-height: 34px;
    height:35px;
    min-width: 33px;
}
.buttom .cen .right .content{
	/* height:35px; */
	width: 863px;
	list-style: none;
	font-size: 13px;
	line-height: 35px;
    /* padding-left:20px; */
    margin-right:10px;
}
.center_top1{
	width: 883px;
	font-size: 15px;
	line-height:27px;
	margin-top:20px;
}
.buttom .cen .right .center_top1 div{
	text-align: left;
	font-size: 14px;
	margin-top:20px;
}
.buttom .cen .right  .center_top1 div span{
	width: 100px;
	height: 100px;
	background: yellow;
	display: inline-block;
}
.buttom .cen .right  .center_top1 div p{
	float: right;
	margin-left:10px;
	font-size: 15px;
	line-height: 30px;
}
.buttom .cen .right  .center_top1 p span{
	display: block;
	font-family: Arial;
    font-weight: 600;
    font-size: 15px;
    color: #62adf1;
}
